# Exploratory data analysis

### Importing libraries

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from config.database_connection import Connect

In [4]:
con_covid = Connect('covid').connect_mssql_localhost()
query = ''' 
select 
    id
    ,countryName
    ,countryCode
    ,province
    ,city
    ,latitude
    ,longitude
    ,confirmed
    ,deaths
    ,recovered
    ,active
    ,date
    ,createdDate
from
    covidCases
'''
df_covid = pd.read_sql(query, con_covid)

In [5]:
df_covid.head()

,id,countryName,countryCode,province,city,latitude,longitude,confirmed,deaths,recovered,active,date,createdDate
0,1406,Uzbekistan,,,,0,0,1,0,0,1,2020-03-15T00:00:00Z,2021-06-23
1,1407,Uzbekistan,,,,0,0,6,0,0,6,2020-03-16T00:00:00Z,2021-06-23
2,1408,Uzbekistan,,,,0,0,10,0,0,10,2020-03-17T00:00:00Z,2021-06-23
3,1409,Uzbekistan,,,,0,0,15,0,0,15,2020-03-18T00:00:00Z,2021-06-23
4,1410,Uzbekistan,,,,0,0,23,0,0,23,2020-03-19T00:00:00Z,2021-06-23